<!-- <p class="text-center mt-2 create">Job Form</p> -->
<h1 class="text-center mt-2">Job Form</h1>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-white text-left py-3 rounded shadow">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Job Number</label>
                    <input type="any" class="form-control" id="exampleInputEmail1" 
                        placeholder="Enter Job Number" formControlName="job_number" autocomplete="off">
                        <small class="text-danger" *ngIf="myForm.get('job_number').hasError('required')">Enter Job Number</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Job Title</label>
                    <input type="text" class="form-control" id="jobtitle" 
                        placeholder="Enter Job Title" formControlName="job_title" autocomplete="off">
                        <small class="text-danger" *ngIf="myForm.get('job_title').hasError('required')">Enter Job Number</small>
    
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Job Start Date</label>
                    <input type="date" class="form-control" id="exampleInputEmail1"
                        placeholder="Enter Job Start Date" formControlName="job_start_date" autocomplete="off">
                        <small class="text-danger" *ngIf="myForm.get('job_start_date').hasError('required')">Enter Job Number</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Job End Date</label>
                    <input type="date" class="form-control" id="exampleInputEmail1"
                        placeholder="Enter Job End Date" formControlName="job_close_date" autocomplete="off">
                        <small class="text-danger" *ngIf="myForm.get('job_close_date').hasError('required')">Enter Job Number</small>
                </div>
                <div class="form-group"><label for="exampleInputEmail1">Experience Required</label>
                    <select class="form-control" name="job" id="job" formControlName="experience_required"autocomplete="off">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                    <small class="text-danger" *ngIf="myForm.get('experience_required').hasError('required')">Enter Job Number</small>
                </div>
                <div class="form-group"><label for="exampleInputEmail1">No. Of Opening</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" 
                        placeholder="Enter No Of Opening" formControlName="number_of_openings" autocomplete="off">
                        <small class="text-danger" *ngIf="myForm.get('number_of_openings').hasError('required')">Enter Job Number</small>
                </div>
                <div class="form-group"><label for="exampleInputEmail1">Job Notes</label>
                        <textarea type="text" class="form-control" id="exampleInputEmail1" 
                        placeholder="Enter Job Notes" formControlName="job_notes" autocomplete="off" cols="30" rows="3"></textarea>
                        <small class="text-danger" *ngIf="myForm.get('job_notes').hasError('required')">Enter Job Notes</small>
                </div>
                <button type="submit" class="btn btn-success mt-2" [disabled]="!myForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>